* text=auto eol=lf

*.sh text eol=lf
*.py text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.gif binary
*.jpg binary
*.jpeg binary
*.png binary
*.pdf binary
*.zip binary
*.gz binary
*.sqlite binary
*.sqlite3 binary
*.anki2 binary
